{%- if site.posts.size > 0 -%}
    <input type="checkbox" id="post-list-trigger" class="nav-trigger" />
    <label for="post-list-trigger">
        <span class="menu-icon">
            <h2 class="post-list-heading">projects &#11015;</h2>
        </span>
    </label>

    <div class="trigger">
            {% for category in site.categories %}
            <h1 class="post-list-heading">{{ category[0] }}</h1> <!--category name-->
            <ul>
                {% for post in category[1] %} <!--list of posts in this category-->
                <li>
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
    </div>
{%- endif -%}