.test-container {
  display: grid;
  grid-template-areas:
    "canvas items"
    "save-button items";
  grid-template-columns: 1fr 3fr;
  gap: 5px;
  background-color: pink;
  padding: 5px;
}

.test-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

#maker {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#canvas {
  min-width: 300px;
  min-height: 300px;
  border: 2px dashed blue;
  position: relative;
}

 #image-container {
    display: flex;
    flex-direction: column; 
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .image-wrapper {
  position: relative;
  display: inline-block;
  }

  .draggable { 
  position: relative; 
  cursor: grab;
}

