.grid-container {
  display: grid;
  grid-template-areas:
  'canvas-manager items';
  gap: 30px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#canvas {
  min-width: 300px;
  min-height: 300px;
  background-color: rgb(186, 238, 214);
  border: 2px dashed blue;
  position: relative;
}

 #image-container {
    display: flex;
    flex-direction: column; 
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .image-wrapper {
  position: relative;
  display: inline-block;
  }

  .draggable { 
  position: relative; 
  cursor: grab;
}

