@mixin shared-title-styles {
  @include relative-font-size(1.625);
  text-transform: uppercase;
  line-height: $base-line-height * $base-font-size * 2.25 + 2;
  margin-bottom: 0;
  color: $brand-color;

}

@mixin base-nav-styles {
  @include shared-title-styles;
  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;
    margin-left: $spacing-unit / 2;
  }

}

@mixin trigger-behavior {
  
  input~.trigger {
    clear: both;
    display: none;
  }

  input:checked~.trigger {
    display: block;
    padding-bottom: 5px;
    background-color: $background-color;
  }

  .page-link {
    display: block;
    padding: 5px 10px;

    // &:not(:last-child) {
    //   margin-right: 0;
    // }
  }
}


.container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "logo top-nav"
    "sidebar content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 2px;
  background-color: $highlight-color;

  @include media-query($on-palm) {
    grid-template-areas:
    "logo top-nav"
    "sidebar sidebar"
    "content content"
    "footer footer";
  }
}

.container > div,
.container > nav,
.container > main {
  background-color: $footer-color;
  padding: $spacing-unit / 2
}

.container > div.logo {
  grid-area: logo;
  @include shared-title-styles;
  min-width: 260px;

}

.container > nav.top-nav {
  grid-area: top-nav;
  @include base-nav-styles;

  display: flex;
  justify-content: end;
  gap: $spacing-unit;

  @include media-query($on-palm) {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;

    label[for="nav-trigger"] {
      width: 100%;
      height: 36px;
      display: flex;
      justify-content: end;
      z-index: 2;
      cursor: pointer;
      background-color: $brand-color;
    }

    .menu-icon {
      display: block;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      >svg {
        fill: $background-color
      }
    }

    @include trigger-behavior;
  }
}

.container > nav.top-nav a:hover {
  color: $highlight-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: $base-font-weight / 3;
}



.container > div.sidebar {
  grid-area: sidebar;
  @include base-nav-styles;
  list-style: none;

  >li {
    margin-bottom: 0;
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    text-align: left;
    border-bottom: 3px solid $brand-color;

    label[for="post-list-trigger"] {
      display: block;
      width: 100%;
      cursor: pointer;
      background-color: $highlight-color;
    }

    .menu-icon {
      display: block;
      width: 100%;
      line-height: 1;
      text-align: left;

      >svg {
        fill: $grey-color-dark;
      }
    }

    @include trigger-behavior;
  }
}
.container > main.content {
  grid-area: content;
  min-height: 100vh;
  background-color: $background-color;
}

.container > div.footer {
  grid-area: footer;
  justify-content: end;
}


/**
* Navigation
*/

#current {
  color: $highlight-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: $base-font-weight / 3;
} 


/**
 * Page content
 */
.page-header {
  @include media-query($on-palm){
    margin-bottom: 0;
  }
 
}

.page-title {
  display: none;
  @include shared-title-styles;

  @include media-query($on-palm) {
    display: block;
  }
}


.page-heading {
  @include relative-font-size(2);
}

/**
* Post list
*/
.post-list-heading {
  @include shared-title-styles;
  padding-bottom: 0;
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}



/**
 * Posts
 */
.post-title {
  @include shared-title-styles;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-palm) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-palm) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-palm) {
      @include relative-font-size(1.125);
    }
  }
}