@mixin nav-toggle-style {
  .nav-trigger, .menu-icon{
    display: none;
  }
}

@mixin trigger-behavior($class-name) {
  
  input~.#{$class-name} {
    clear: both;
    display: none;
  }

  input:checked~.#{$class-name} {
    display: block;
    padding: $spacing-unit;
    background-color: $background-color;
  }

}

@mixin banner-text($color: $brand-color, $size-ratio: 1) {
  @include relative-font-size($size-ratio);
  text-transform: uppercase;
  color: $color;
  line-height: 80%;
}


.container {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "logo top-nav"
    "sidebar content"
    "footer footer";
  grid-template-columns: max-content auto;
  grid-template-rows: min-content auto min-content;
  gap: 1px;
  background-color: $compl-color;

  @include media-query($on-palm) {
    grid-template-areas:
    "logo top-nav"
    "sidebar sidebar"
    "content content"
    "footer footer";
    grid-template-rows: min-content min-content auto min-content;
  }
}

.container > div,
.container > nav,
.container > main {
  background-color: $background-color;
  padding: $spacing-unit;

}

.container > div.logo,
.container > nav.top-nav {
  @include banner-text($size-ratio: 1.75);
}

.container > div.logo {
  grid-area: logo;
  align-items: center;

  @include media-query($on-palm){
    background-color: $compl-color;
  }
  
}

.container > nav.top-nav {
  grid-area: top-nav;
  @include nav-toggle-style;

  display: flex;
  justify-content: start;
  align-items: center;

  @include media-query($on-palm) {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    background-color: $compl-color;

    label[for="nav-trigger"] {
      width: 100%;
      height: 36px;
      display: flex;
      justify-content: end;
      z-index: 2;
      cursor: pointer;
      background-color: $brand-color;
    }

    .menu-icon {
      display: block;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      >svg {
        fill: $background-color
      }
    }

    @include trigger-behavior("top-nav-links");
  }
}

.top-nav-links{
  display: flex;
  gap: $spacing-unit;
}

.container > nav.top-nav a:hover {
  color: $highlight-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: $base-font-weight / 3;
}


.container > nav.sidebar {
  grid-area: sidebar;
  @include nav-toggle-style;
  list-style: none;

  >li {
    margin-bottom: 0;
  }

  @include media-query($on-palm) {
    @include banner-text($brand-color, 1.5);
    padding: 0;
    background-color: $highlight-color;
    text-align: left;

    label[for="post-list-trigger"] {
      padding: $spacing-unit;
      display: block;
      width: 100%;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      width: 100%;
      line-height: 1;
      text-align: left;

      >svg {
        fill: $grey-color-dark;
      }
    }

    @include trigger-behavior("trigger");
  }
}
.container > main.content {
  grid-area: content;
}

.container > div.footer {
  grid-area: footer;
  justify-content: end;
}


/**
* Navigation
*/
.page-link {
  line-height: $base-line-height;
  margin-left: $spacing-unit;

  @include media-query($on-palm){
    display: block;
    padding: ($spacing-unit) ($spacing-unit) 0 ;
    text-align: right;
  }
}

#current {
  color: $highlight-color;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: $base-font-weight / 2;
} 


/**
 * Page content
 */

.page-title {
  display: none;

  @include media-query($on-palm) {
    display: block;
  }
}


.page-heading {
  @include relative-font-size(2);
}


/**
* Post list
*/

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}


/**
 * Posts
 */
.post-title {
  text-transform: uppercase;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-palm) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-palm) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-palm) {
      @include relative-font-size(1.125);
    }
  }
}