<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">
      <div class="logo">
        {%- include site-title.html -%}
      </div>

      <nav class="top-nav">
        {%- include top-nav.html -%}
      </nav>

      <div class="sidebar">    
        {%- include post-list.html -%}
      </div>

      <div class="content">
        <main> {{content}} </main>
      </div>
   
      
      <div class="footer">
        {%- include footer.html -%}
      </div>
    </div>

  </body>

</html>
