<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <div class="container">
      <div class="logo"><h2>My Title</h2></div>
        <div class="topnav"><h2>My Header</h2></div>
      <div class="sidebar"><a href="#">Link 1</a><br><a href="#">Link 2</a><br><a href="#">Link 3</a></div>
      <div class="content"><h3>Lorem Ipsum</h3><p>Lorem ipsum odor amet, consectetuer adipiscing elit. Ridiculus sit nisl laoreet facilisis aliquet. Potenti dignissim litora eget montes rhoncus sapien neque urna. Cursus libero sapien integer magnis ligula lobortis quam ut.</p></div>
      <div class="footer"><h4>Footer</h4></div>
    </div>
    
    {%- include header.html -%}
   
    <main class="page-content" aria-label="Content">
      {%- include post-list.html -%}
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
